<div>
    <h2 id="page-heading">
        <span>Order Items</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-order-items" [routerLink]="['/order-items/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Order Items
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="orderItems">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Attributes</span></th>
            <th><span>Product Name</span></th>
            <th><span>Quantity</span></th>
            <th><span>Unity Cost</span></th>
            <th><span>Order</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let orderItems of orderItems ;trackBy: trackId">
                <td><a [routerLink]="['/order-items', orderItems.id, 'view' ]">{{orderItems.id}}</a></td>
                <td>{{orderItems.attributes}}</td>
                <td>{{orderItems.productName}}</td>
                <td>{{orderItems.quantity}}</td>
                <td>{{orderItems.unityCost}}</td>
                <td>
                    <div *ngIf="orderItems.order">
                        <a [routerLink]="['../orders', orderItems.order?.id, 'view' ]" >{{orderItems.order?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/order-items', orderItems.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/order-items', orderItems.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'order-items', { outlets: { popup: orderItems.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
