<div>
    <h2 id="page-heading">
        <span>Shipping Regions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-shipping-region" [routerLink]="['/shipping-region/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Shipping Region
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="shippingRegions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Customer</span></th>
            <th><span>Shipping</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let shippingRegion of shippingRegions ;trackBy: trackId">
                <td><a [routerLink]="['/shipping-region', shippingRegion.id, 'view' ]">{{shippingRegion.id}}</a></td>
                <td>{{shippingRegion.name}}</td>
                <td>
                    <div *ngIf="shippingRegion.customer">
                        <a [routerLink]="['../customer', shippingRegion.customer?.id, 'view' ]" >{{shippingRegion.customer?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="shippingRegion.shipping">
                        <a [routerLink]="['../shipping', shippingRegion.shipping?.id, 'view' ]" >{{shippingRegion.shipping?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/shipping-region', shippingRegion.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/shipping-region', shippingRegion.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'shipping-region', { outlets: { popup: shippingRegion.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
