<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="shoppingCard">
            <h2><span>Shopping Card</span> {{shoppingCard.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Item Id</span></dt>
                <dd>
                    <span>{{shoppingCard.itemId}}</span>
                </dd>
                <dt><span>Attributes</span></dt>
                <dd>
                    <span>{{shoppingCard.attributes}}</span>
                </dd>
                <dt><span>Quantity</span></dt>
                <dd>
                    <span>{{shoppingCard.quantity}}</span>
                </dd>
                <dt><span>Buy Now</span></dt>
                <dd>
                    <span>{{shoppingCard.buyNow}}</span>
                </dd>
                <dt><span>Added On</span></dt>
                <dd>
                    <span>{{shoppingCard.addedOn}}</span>
                </dd>
                <dt><span>Salary</span></dt>
                <dd>
                    <span>{{shoppingCard.salary}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/shopping-card', shoppingCard.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
